body {
    background-color: #F9BB48;
    height: 200vh;
    font-family: ‘Noto Serif’;
}

.navbar-brand{
    color:white;
}

#navbar{
    width: 50vw;
    display:flex;
    justify-content: space-around;

}

#firstNavbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imageLogo{
    width: 300px;
    margin-top: 13px;

}

.flexCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bigPic{
    width: 874px;
    margin-top: 97px;
}

.flexSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

flexSpaceBetweenColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#tagline{
    margin-bottom: 232px;
    display: flex;
    justify-content: center;
    text-align: center
}

.benefit-box{
    display:flex;
    justify-content:space-around;
    height: 350px;
    align-items: center;

}   

.benefit-box div{
    margin:15px;
}

i{
    font-size:50px;
    padding-left: 100px
}
.fa-accusoft:before {
    content: "\f369";
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-btn{
    display:block;
    width: 20%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin:80px auto;
    
}

img{
    width:300px;
    margin-top:50px;
}
